#App
  width 1024px
  height 768px
  margin: auto
  border: 1px solid black
#top
  width 1000px
  height 65px  
  border: 1px solid black
  margin: auto
#left
  float: left
  width 215px
  height calc(768px -  65px - 20px)
  border: 1px solid black 
  margin-left: 12px
  text-align: center
#menu
  width 215px
  height calc(768px - 65px - 45px)
  border: 1px solid black
#menu p  
  font-weight: 500
  font-family: '標楷體'
  font-size: 24px
  text-decoration: underline
  color: #FF00FF
#left table
  border: 1px solid black
  width 100%
#left table td
  // 在 vue 的 CSS 裡面只能引用 SRC 的圖片
  // 必須要加 ~@
  width 100%
  height 40px
  border:  1px solid black  
  background-repeat: no-repeat
  background-position: center
  background-image: url('~@/assets/menu1.png')

  &:hover
    background-image: url('~@/assets/menu2.png')
#date 
  width 215px
  height 25px
  border: 1px solid black    
  line-height: 25px
#right
  width 770px
  height calc(768px - 65px - 20px)  
  border: 1px solid black
  float: right 
  margin-right: 12px
#content
  width 770px
  height calc(768px - 65px - 29px - 20px) 
  border: 1px solid blue 
  background-image: url('~@/assets/0101.jpg')
  text-align: center
  color: blue
  font-family: '標楷體'
  font-size: 24px
  font-style: italic
#footer  
  width 1000px
  height 20px
  text-align: center
  clear both
  border: 1px solid black
  margin: auto
#mar 
  width 770px
  height 29px  
  border: 1px solid black
  line-height: 29px
  color: blue
